@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700&subset=cyrillic');
/*


@head-color: #bcd0e5;
@active-color: #ff0000;
@light-color: #ffffff;
@gray-color: #797979;
@hover-color: #009999;
@bg-color: #244e81;

@font-base: "Roboto", Arial, sans-serif;
@font-base-cond: "Roboto Condensed", "Arial Narrow", sans-serif;

@base-font-size: 14px;
@btn-font-size: 14px;
@catalog-info-f-size: 14px;

@max-w-container: 1040px;
@wrap-out: 20px;
@base-margin: 30px;

@sl-item_width: 170px;

@height-footer: 190px;

@mobile-width: ~"only screen and (max-width: 420px)";
@mobile-big-width: ~"only screen and (max-width: 559px)";
@tablet-width: ~"only screen and (max-width: 780px)";
@tablet-big-width: ~"only screen and (min-width: 780px)";
@desktop-width: ~"only screen and (min-width: 1040px)";
@mobile-footer: ~"only screen and (max-width: 520px)";
@mobile-depart: ~"only screen and (min-width: 520px)";

*/
html,
body {
  box-sizing: border-box;
  background-color: #333;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Myriad Pro", Arial, sans-serif;
  color: #656565;
}
@keyframes move-poster-block {
  0%,
  10% {
    right: -100%;
  }
  20%,
  70% {
    right: -6%;
  }
  100% {
    right: -100%;
  }
}
/*
@keyframes move-poster-text {
  0% {
    left: 100%;
  }
  25% {
    left: 56%;
  }
  100% {
    left: 100%;
  }
}
*/
@keyframes move-poster-text-1 {
  0%,
  20% {
    left: 100%;
  }
  30%,
  50% {
    left: 56%;
  }
  60%,
  100% {
    left: 100%;
  }
}
@keyframes move-poster-text-2 {
  0%,
  30% {
    left: 100%;
  }
  40%,
  60% {
    left: 56%;
  }
  70%,
  100% {
    left: 100%;
  }
}
@keyframes move-poster-text-3 {
  0%,
  40% {
    left: 100%;
  }
  50%,
  70% {
    left: 56%;
  }
  80%,
  100% {
    left: 100%;
  }
}
@keyframes fade-attention {
  0%,
  5% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}
@keyframes hide-vertical {
  0%,
  10% {
    height: 0%;
  }
  20%,
  80% {
    height: 78%;
  }
  90%,
  100% {
    height: 0;
  }
}
.slider {
  position: relative;
  max-width: 960px;
  height: 540px;
  /* 560px */
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #fff;
  overflow: hidden;
}
.slider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: top left;
  background-repeat: no-repeat;
  transition: 2s;
  overflow: hidden;
}
.slider__item--1 {
  top: 0;
  left: 0;
  background-image: url("../img/metro_116.png");
  background-position: -120px 0;
}
.slider__item--2 {
  top: 100%;
  left: 0;
}
.slider__item--3 {
  top: 0;
  left: -100%;
}
.slider__item--4 {
  top: 0;
  left: 100%;
}
.slider__item--5 {
  top: 100%;
  left: 0;
}
.slider__link {
  display: block;
  position: absolute;
  right: 0;
  top: 25px;
  /* padding: 12px 15px 8px;*/
  padding-left: 15px;
  padding-right: 15px;
  height: 48px;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(20, 50, 70, 0.5);
  background-color: #01408c;
}
.slider__link:hover {
  color: #fbad2f;
}
.slider__link::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -50px;
  width: 0;
  height: 0;
  border-width: 25px;
  border-style: solid;
  border-color: #01408c;
  border-left-color: transparent;
  border-top-color: transparent;
}
.slider__link--0 {
  top: 45px;
}
.slider__link--1 {
  bottom: 40px;
  right: 290px;
}
.slider__link--2 {
  bottom: 90px;
  left: 40px;
  height: 130px;
}
.slider__link--3 {
  bottom: 90px;
  left: 345px;
  height: 130px;
}
.slider__link--4 {
  bottom: 90px;
  right: 40px;
  height: 130px;
}
.no-js .slider {
  height: auto;
}
.no-js .slider__item {
  position: relative;
  top: 0;
  left: 0;
  min-height: 540px;
  outline: 1px solid red;
}
.move-top-out {
  top: -100%;
  transition: 2s;
}
.move-top {
  top: 0;
  transition: 2s;
}
.move-left-out {
  left: -100%;
  transition: 2s;
}
.move-left {
  left: 0;
  transition: 2s;
}
.move-right-out {
  left: 100%;
  transition: 2s;
}
.move-right {
  left: 0;
  transition: 2s;
}
.slider__content-1 {
  float: right;
  height: 100%;
  width: 60.625%;
  /* 582 / 960 */
  padding: 385px 25px 25px;
  padding-top: 71,296%;
  /* 385 / 540 */
  background-color: #ffffff;
}
.slider__content-1 h1 {
  margin: 0;
  margin-bottom: 38px;
  text-transform: uppercase;
  font-size: 2rem;
}
.slider__content-1 h1 span {
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
}
.slider__content-1 .link__content-1 {
  position: relative;
  margin-left: 90px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: #656565;
}
.slider__content-1 .link__content-1:hover {
  color: #01408c;
}
.slider__content-1 .link__content-1::before {
  content: '';
  position: absolute;
  left: -27px;
  width: 22px;
  height: 22px;
  background-color: red;
}
.slider__content-2 {
  padding: 108px 25px 15px;
}
.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 185px;
  height: auto;
  font-size: 0;
}
.logo.logo--main {
  top: 155px;
  left: 50%;
  width: 67.5%;
  /* 648 / 960 */
  transform: translateX(-48%);
  padding: 20px 25px;
  background-color: rgba(255, 255, 255, 0.5);
}
.logo img {
  width: 100%;
  height: auto;
}
.advertising {
  padding: 10px 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fbad2f;
}
.advertising::after {
  content: '';
  display: table;
  clear: both;
}
.advertising__text {
  float: left;
  width: 57.14285%;
  /* 520 / 910 */
}
.advertising__img {
  float: right;
  width: 39.34065934065934%;
  /* 358 / 910 */
  font-size: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #fbad2f;
}
.advertising__img img {
  width: 100%;
  height: auto;
}
.advertising__title {
  position: relative;
  margin-top: -5px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.advertising__subtitle {
  position: relative;
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.advertising__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advertising__detail {
  flex-basis: 48%;
  display: flex;
  margin-bottom: 20px;
}
.advertising__detail:nth-child(3),
.advertising__detail:nth-child(4) {
  margin-bottom: 0;
}
.detail__img {
  width: 63px;
  margin-right: 5px;
}
.detail__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
.detail__desc {
  flex-basis: 70%;
}
.main-links {
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fbad2f;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fbad2f;
  justify-content: space-around;
}
.main-link {
  flex-basis: 27.472527%;
  /* 250 / 910 */
  text-align: center;
  text-decoration: none;
  color: #656565;
}
.main-link:hover {
  color: #01408c;
}
.main-link__title {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fbad2f;
}
.main-link__text {
  padding-top: 10px;
}
.contacts {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 20px;
}
.contacts a {
  margin: 0 15px;
  font-size: 1.rem;
  font-weight: 600;
  color: #fbad2f;
  text-decoration: none;
  text-transform: uppercase;
}
.top-title {
  position: absolute;
  top: 35px;
  right: 220px;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.top-title::first-letter {
  font-size: 1.6rem;
}
.slider__content-3 {
  padding: 103px 50px 15px;
}
.information__title {
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fbad2f;
  text-align: center;
  font-size: 1.65rem;
  text-transform: uppercase;
  font-weight: 600;
}
.information-text {
  text-align: justify;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.information-text p {
  margin: 0;
  line-height: 1.25;
  font-size: 1rem;
  text-indent: 30px;
  /*
    @media @mobile-middle-width {
      font-size: 1.3rem;
    }
    */
}
.mark {
  font-weight: 600;
}
.mark__yellow {
  color: #fbad2f;
}
.mark__blue {
  color: #01408c;
}
.slider__content-4 {
  padding: 138px 50px 15px;
}
.advantage {
  display: flex;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fbad2f;
}
.advantage::after {
  content: '';
  display: table;
  clear: both;
}
.advantage__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  flex-shrink: 0;
  margin-right: 25px;
}
.advantage__title h2 {
  margin: 0;
  text-transform: uppercase;
}
.advantage__title h2 span {
  display: block;
}
.title-main {
  font-size: 1.95rem;
  color: #01408c;
}
.title-middle {
  font-size: 1.4rem;
}
.title-small {
  font-size: 0.9rem;
}
.advantage__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.advantage__item {
  position: relative;
  margin-bottom: 2px;
}
.advantage__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -20px;
  width: 10px;
  height: 10px;
  background-color: #01408c;
}
.value {
  display: flex;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fbad2f;
}
.value__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  flex-shrink: 0;
  margin-right: 5px;
  font-size: 0.95rem;
  line-height: 1.45;
}
.value__title .title-mark {
  color: #fbad2f;
}
.value__image {
  padding-top: 10px;
  padding-bottom: 10px;
}
.value__image img {
  width: 100%;
}
.slider__content-5 {
  padding: 103px 50px 15px;
}
.variation::after {
  content: '';
  display: table;
  clear: both;
}
.variation__title {
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fbad2f;
  text-align: center;
  font-size: 1.65rem;
  text-transform: uppercase;
  font-weight: 600;
}
.variation-block {
  padding: 10px  0;
}
.variation-block::after {
  content: '';
  display: table;
  clear: both;
}
.variation-block__image {
  position: relative;
  float: left;
  width: 34.88372%;
  /* 300 / 860 */
  border-width: 1px;
  border-style: solid;
  border-color: #fbad2f;
  font-size: 0;
  overflow: hidden;
}
.variation-block__image .poster-background {
  width: 100%;
  height: auto;
}
.variation-block__text {
  float: right;
  width: 60.46511%;
  /* 520 / 860 */
}
.variation-block__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.90rem;
  color: #01408c;
}
.variation-block__desc {
  margin: 5px 0 15px;
  font-size: 0.88rem;
  text-align: justify;
}
.variation-block__requirements {
  font-size: 0.9rem;
}
.variation-block__requirements__title {
  font-weight: 600;
}
.variation-block__requirements__desc--2col {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.variation-block__requirements__desc p {
  margin: 0;
}
.variation-block__requirements__desc span {
  font-weight: 600;
}
.poster-detail {
  position: absolute;
}
.poster-detail__bottom {
  width: 102%;
  left: -2px;
  bottom: -13px;
}
.poster-detail__lamp {
  width: 100%;
}
.poster-detail__lamp-shadow {
  width: 50%;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
.poster-detail__block {
  width: 55%;
  right: -6%;
  top: 15%;
  border-radius: 7px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
}
.poster-detail__text-1 {
  height: 9%;
  left: 56%;
  top: 20%;
}
.poster-detail__text-2 {
  height: 14%;
  left: 56%;
  top: 30%;
}
.poster-detail__text-3 {
  height: 11%;
  left: 56%;
  top: 43%;
}
.poster__attention {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 32%;
  height: 78%;
  overflow: hidden;
}
.variation-block__image--animate .poster-detail__block {
  animation: move-poster-block 10s infinite ease-in-out;
}
.variation-block__image--animate .poster-detail__text-1 {
  left: 100%;
  animation: move-poster-text-1 10s infinite ease-in-out;
}
.variation-block__image--animate .poster-detail__text-2 {
  left: 100%;
  animation: move-poster-text-2 10s infinite ease-in-out;
}
.variation-block__image--animate .poster-detail__text-3 {
  left: 100%;
  animation: move-poster-text-3 10s infinite ease-in-out;
}
.variation-block__image--animate .poster__attention {
  opacity: 0;
  animation: fade-attention 10s infinite ease-in-out;
}
@media only screen and (max-width: 670px){
  html{
    font-size: 14px;
  }
  .slider__link{
    height: 43px;
    line-height: 45px;
  }
  .slider__content-1{
    padding-top: 360px;
  }
  .variation-block__image{
    float: none;
    width: 80%;
    margin: 0 auto 15px;
  }
  .variation-block__text{
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 520px){
  .slider__link{
    display: none;
  }
  .slider__link.slider__link--0{
    display: block;
  }
  .main-link{
    color: #01408c;
  }
  .top-title{
    display: none;
  }
  .slider__content-3{
    padding-left: 25px;
    padding-right: 25px;
  }
  .information-text{
    -moz-column-count: 1;
    column-count: 1;
  }
  .slider__content-4{
    padding-left: 25px;
    padding-right: 25px;
  }
  .slider__content-5{
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (max-width: 420px){
  .slider__content-1 .link__content-1{
    margin-left: 30px;
  }
  .logo.logo--main{
    width: 85%;
  }
  .advertising__details{
    justify-content: center;
  }
  .advertising__detail{
    flex-basis: 100%;
    justify-content: center;
  }
  .advertising__detail:nth-child(3),
  .advertising__detail:nth-child(4){
    margin-bottom: 20px;
  }
  .main-links{
    flex-wrap: wrap;
  }
  .main-links br{
    display: none;
  }
  .main-link{
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .main-link:last-child{
    margin-bottom: 0;
  }
  .main-link__title{
    width: 70%;
    margin: 0 auto;
  }
  .variation-block__image{
    width: 100%;
  }
}
@media only screen and (max-width: 890px){
  .advertising__text{
    float: none;
    width: 100%;
  }
  .advertising__img{
    width: 80%;
    float: none;
    margin: 0 auto 20px;
  }
  .advertising__title{
    margin-top: 0;
  }
  .advertising__subtitle{
    margin-top: 0;
  }
  .value{
    display: block;
  }
  .value__title{
    text-align: center;
    width: 100%;
  }
  .value__title h2 br{
    display: none;
  }
}
@media only screen and (max-width: 820px){
  .contacts a{
    display: block;
    float: left;
    width: 50%;
    margin: 0 0 10px;
  }
}
@media only screen and (max-width: 630px){
  .advantage{
    display: block;
  }
  .advantage__title{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
  }
}
