.comeback {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  background-color: yellow;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  @media @mobile-middle-width {
    display: block;
  }

}